<div data-role="page">

  <div data-role="header" data-position="inline">
  <h1 id="pageTitle">
  Loading...
  </h1>
  <div data-role="content">
     <ul id="home" selected="true" title="Wait">
        <li><%=link_to "Cancel", :action => :cancel_httpcall%></li>
     </ul>
  </div>

</div>
