<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline" data-theme="b">
    <h1>NewsNow</h1>
  </div>
  <div data-role="content" data-theme="b">
    <img src="/public/images/ysr_ntr_banner.png" align="left"/>
    <br /><br />
    <br /><br />
    <ul data-role="listview" data-inset="true" >
       <li><a href="Headline">Headlines</a></li>
       <li><a href="Newsitem">News</a></li>
       <li><a href="Video">Videos</a></li>
       <li><a href="Trailer">Trailers</a></li>
       <li><a href="MovieReview">Movie Reviews</a></li>
    </ul>
  </div>
 
</div>
